.btn {
	height: 80px;
	width: 80px;
	margin: 2px;
	font-size: 30px;
	color: black;
	
}

.container {
	background-color: black(128, 0, 0, 0.5);
	height: 500px;
    width: 400px;
	position: absolute;
    top: 55%;
    left: 48%;
    transform: translateX(-50%)translateY(-50%);
}

.textview{
	height: 25px;
	width: 340px;
	margin: 5px;
    padding: 8px;
    font-size: 25px;
}

body{
	
	background-image: url('calci.jpg');
	background-repeat: no-repeat;
	background-size: 1450px 800px;
}

h1 {
	position: absolute;
    top: 13%;
    left: 39%;
	color: white;
	font-size: 35px;
}

u {
	border-bottom: 3px black;
}